@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/material.css';

.code-editor {
    height: 100vh;
}

.code-runner {
    float: right;
}

.CodeMirror {
	height: 93vh;
}